:root {
  --text-color: #545353;
  --primary-color: #1BABDC; 
  --secondary-color: #2c3e50;
  --background-color: #ffffff; 
}
@font-face {
  font-family: 'Technos'; 
  src: url('../../assets/technos/Technos.otf') format('opentype'); 
  font-style: normal;
}
.hud {
  position: absolute;
  top: 20px;
  width: 100%;
  color: var(--text-color);
  font-family: 'JetBrains Mono', monospace; 
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

.score {
  font-family: 'Technos', sans-serif; 
  font-size: 3.5rem; 
  margin-bottom: 10px;
  color: #E1E0E0;
  font-weight: 300;
  text-shadow: 0 0 8px var(--primary-color), 0 0 2px rgba(26, 107, 249, 1); 
  animation: pulse 2s infinite ease-in-out;
}

.question {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.5;
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto 0;
  max-width: 800px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
}

.category{
  color:#ffffff;
}

.answers,
.answer,
.answer:hover,
.answer:active {
  
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
