.hud {
  position: absolute;
  top: 10px;
  width: 100%;
  color: rgb(250, 246, 239);
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.score {
  font-size: 22px;
  margin-bottom: 10px;
}

.question {
  font-size: 18px;
  margin-bottom: 40px;
  color: #fcf9f9;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.answer {
  background: rgb(249, 242, 242);
  padding: 10px 20px;
  border: 2px solid rgb(93, 3, 3);
  border-radius: 8px;
  color: rgba(227, 5, 5, 0.785);
}
