body {
  margin: 0;
  background-image: url("./assets/Lotus.jpg"); 

  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;

  min-height: 100vh;
  overflow: hidden;
}

