.game-over-overlay {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
   
    background-image: url('https://github.com/loictchinda/Mini-jeu-React-Pixel-Run/blob/dev-horiane/src/assets/Lotus.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    z-index: 9999;
    padding-top: 50px;
    font-family: 'JetBrains Mono', monospace; 
}

.game-over-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; 
}

.game-over-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 40px 60px;
    width: 400px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    display: flex;             
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}


.game-over-title {
    font-family: 'Technos', sans-serif; 
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 0 0 50px 0;
    -webkit-text-stroke: 2px #c0392b;
    text-shadow: 3px 3px 0 #c0392b;
    letter-spacing: 5px;
}


.score-section {
    margin-bottom: 30px;
    font-family: 'JetBrains Mono', monospace; 
    color: white;
}

.score-text,
.highscore-text {
    font-size: 1.2rem;
    margin: 15px 0;
    font-weight: 500;
}


.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-action {
    font-family: 'JetBrains Mono', monospace; 
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background-color: #A1D161;
    box-shadow: 0 4px #6b9b37;
    transition: all 0.1s;
    width: 263px;
}

.btn-action:hover {
    background-color: #88b358;
}

.btn-action:active {
    transform: translateY(4px);
    box-shadow: none;
}
