
.game-over-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'JetBrains Mono', monospace; 
  text-align: center;
  z-index: 100; 
}

.game-over-container h1 {
  margin-top: 30px;
  font-family: 'Technos', sans-serif; 
  font-size: 3em;
  color: #ca1b0b; 
  text-shadow: 3px 3px 0 #000;
}

.game-over-container p {
  font-size: 1.5em;
  margin: 20px 0;
}

.game-over-container button {
  font-family: 'JetBrains Mono', monospace; 
  font-size: 1.2em;
  padding: 15px 30px;
  border: 2px solid white;
  background-color: #0074D9; 
  color: white;
  cursor: pointer;
  text-shadow: 2px 2px 0 #000;
  transition: background-color 0.2s;
  border-radius: 15px;
}

.game-over-container button:hover {
  background-color: #07386d;
}