@font-face {
  font-family: 'Technos'; 
  src: url('../../assets/technos/Technos.otf') format('opentype'); 
  font-style: normal;
}
body {
  margin: 0;
  background-image: url("./assets/Lotus.jpg"); 

  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;

  min-height: 100vh;
  overflow: hidden;
}

