/**
 * Feuille de style principale de l'application.
 * Elle importe les polices de caractères personnalisées et définit
 * les styles de base qui s'appliquent à l'ensemble du document.
 */

@font-face {
  font-family: 'Technos'; 
  src: url('../../assets/technos/Technos.otf') format('opentype'); 
  font-style: normal;
}
body {
    margin: 0;
    /* ... */
}